.btn,
.btn-contact {
  background-color: #fff;
  color: $color-grey-dark;
  padding: 1rem 1rem;
  border: 1px solid $color-grey-medium;
  border-radius: 2px;
}
.btn-contact {
  background-color: $color-blue-primary;
  color: $color-grey-light;
  border: 1px solid $color-blue-primary;
  width: 100%;
}
.btn:hover,
.btn-contact:hover {
  background-color: #ccc;
  color: $color-grey-dark;
  border: 1px solid $color-grey-medium;
  cursor: pointer;
}

.input-field {
  outline: none;
  padding: 7px;
  width: 100%;
  color: #212121;
}

.text-area {
  width: 235px;
  color: #ccc;
  height: 70px;
}

.contact-form-icon-container {
  padding: 10px;
  background: #536f98;
  color: #ccc;
  min-width: 30px;
  text-align: center;
  border-top: 1px solid #212121;
  border-left: 1px solid #212121;
  border-bottom: 1px solid #212121;
}

.form-row {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: nowrap;
  padding-right: 50px;
}

.form-container {
  margin-top: 5rem;
  position: relative;
  display: flex;
}
