header {
  background-color: #536f98;
  padding: 0px 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-squaresimg {
  display: block;
}

::placeholder {
  color: #ccc;
}

.reverse-out-font-barlow {
  font-family: Barlow, sans-serif;
  color: #ccc;
}

.logo-squares {
  padding: 10px 0 10px 0px;
}

.logo-text {
  width: 300px;
  padding-left: 5px;
  padding-bottom: 2.5px;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 180px;
}

.bg-image-text-box {
  margin-top: 13.55rem;
}

.bg-image-heading {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.bg-image-heading .main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  margin-left: 3rem;
  @include respond(phone) {
    margin-left: 1.45rem;
    margin-left: 1.45rem;
  }

  letter-spacing: 3rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-top: 3rem;
}
.bg-image-heading .sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 16.7px;
  margin-left: 1.74rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

#carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 400px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  background-color: #f0f0f0;
  margin: 0;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}
