@media only screen and (min-width: 1500px) {
  .layer-wrapper {
    position: relative;
    width: 1501px;
    padding: 0px 0 50px 0;
    margin: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .form-container {
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-border-sides {
    border-right: 0px solid #ccc;
    border-left: 0px solid #ccc;
    width: 100%;
  }
  .footer-column {
    width: 100%;
    margin: auto;
  }
  .footer-container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer-column {
    width: 80%;
    margin: auto;
  }
  .form-row {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 50px;
  }
  .caption {
    background-color: #536f98;
    color: #ccc;
    padding: 0.4em;
  }
  .caption:hover {
    background-color: #ccc;
    color: #212121;
  }
  .portfolio {
    display: flex;
  }
}
@media (max-width: 800px) {
  .header-nav {
    display: none;
  }
  .fa-bars {
    margin-right: 15px;
    padding: 5px 7px;
    font-size: 20px;
  }
  /* Dropdown Button */
  .dropbtn {
    cursor: pointer;
  }
  /* Dropdown button on hover & focus */
  /* .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
} */
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--reverse-font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--reverse-font-color);
    color: var(--dark-color);
  }
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
    margin-left: -80px;
  }
}

@media (min-width: 801px) {
  .fa-bars,
  .dropdown {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .form-container {
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .form-row {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 0px;
  }
  .footer-column {
    width: 100%;
    margin: auto;
  }
  .footer-border-sides {
    border-right: 0px solid #ccc;
    border-left: 0px solid #ccc;
    width: 100%;
  }
  .paragraph-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .port {
    width: 75%;
    padding: 0px 10px 20px 10px;
    margin: auto;
  }
}
