.header-nav {
  display: flex;
}
.header-nav-item {
  font-size: 16px;
  font-weight: 300;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  cursor: pointer;
  position: relative;
}
.header-nav-item a {
  color: var(--reverse-font-color);
  text-decoration: none;
}
.header-nav-item span {
  height: 2px;
  background-color: var(--reverse-font-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: 0.3s ease;
}
.header-nav-item:hover span {
  width: 100%;
}
.dropbtn {
  background-color: var(--primary-blue);
  color: var(--reverse-font-color);
  border: 1px solid var(--reverse-font-color);
}
.header-nav-item + .header-nav-item {
  margin-left: 25px;
}
@media (max-width: 800px) {
  .header-nav {
    display: none;
  }
  .fa-bars {
    margin-right: 15px;
    padding: 5px 7px;
    font-size: 20px;
  }
  /* Dropdown Button */
  .dropbtn {
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  /* .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
} */

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--reverse-font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--reverse-font-color);
    color: var(--dark-color);
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
    margin-left: -80px;
  }
}
@media (min-width: 801px) {
  .fa-bars,
  .dropdown {
    display: none;
  }
}
