.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.portfolio {
  background-color: #f4f4f4;
}

.portfolio-wrapper {
  padding: 20px 0 0 0;
  text-align: center;
}
.portfolio-wrapper ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 80%;
}

.portfolio-header {
  margin-bottom: 20px;
}

.portfolio-filter {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  border-radius: 60px;
  padding: 10px 20px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: 2px solid #eee;
  border-radius: 60px;
  transition: all 0.4s ease-in-out;
}
.portfolio-filter:hover,
.portfolio-filter:active,
.portfolio-filter:focus {
  color: #fff;
  box-shadow: inset 10em 0 0 0 #009686;
}
.portfolio-filter:active,
.portfolio-filter:focus {
  outline: none;
}
.portfolio-filter.active {
  color: #fff;
  box-shadow: inset 10em 0 0 0 #009686;
}

.portfolio-img {
  list-style: none;
  margin-bottom: 30px;
  overflow: hidden;
}
.portfolio-img a {
  display: inline-block;
}
.portfolio-img img {
  width: 100%;
}
.portfolio-img figure {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.portfolio-img figure::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.portfolio-img figure figcaption {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 60px;
  background: #555;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  z-index: 2;
}
.portfolio-img figure figcaption .title {
  float: left;
  font-size: 20px;
  color: #fff;
  margin: 0;
  padding: 0 10px;
  line-height: 60px;
}
.portfolio-img figure figcaption .icon {
  float: right;
  margin: 0;
  padding: 0 10px;
}
.portfolio-img figure figcaption .icon a {
  font-size: 16px;
  margin: 0 5px;
  color: #fff;
  line-height: 60px;
}
.portfolio-img figure figcaption .icon a:hover {
  color: #009686;
}
.portfolio-img figure figcaption .description {
  position: absolute;
  width: 100%;
  bottom: 12em;
  margin: 0;
  opacity: 0;
  text-align: center;
  color: #fff;
  -webkit-backface-visibility: hidden;
}
.portfolio-img figure figcaption .title,
.portfolio-img figure figcaption .icon,
.portfolio-img figure figcaption .description {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio-img figure:hover::before,
.portfolio-img figure:hover .description {
  opacity: 1;
}
.portfolio-img figure:hover figcaption {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.portfolio-nospacing li {
  margin: 0;
  padding: 0;
}
