h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.layer-ttl {
  position: relative;
  margin: 0;
  text-align: center;
}
.layer-ttl h4 {
  display: inline-block;
  position: relative;
  font-size: 36px;
  font-weight: 400;
  color: #555;
  padding: 0 20px;
}
.layer-ttl h4::before,
.layer-ttl h4:after {
  content: '';
  position: absolute;
  top: 55%;
  width: 50px;
  height: 2px;
  background: $color-blue-primary;
}
.layer-ttl h4::before {
  right: 100%;
}
.layer-ttl h4::after {
  left: 100%;
}
