.layer-ttl {
  position: relative;
  margin: 0;
  text-align: center;
}
.layer-ttl h4 {
  display: inline-block;
  position: relative;
  font-size: 36px;
  font-weight: 400;
  color: #555;
  padding: 0 20px;
}
.layer-ttl h4::before,
.layer-ttl h4:after {
  content: '';
  position: absolute;
  top: 55%;
  width: 50px;
  height: 2px;
  background: $color-blue-primary;
}
.layer-ttl h4::before {
  right: 100%;
}
.layer-ttl h4::after {
  left: 100%;
}
