.u-box-shadow {
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.15);
}
.u-button-container-margin-right-sml {
  margin-right: 0.5rem;
}
.u-center-text {
  text-align: center;
}
.u-padding-bottom-large {
  padding-bottom: 8rem;
}

.u-padding-bottom-medium {
  padding-bottom: 4rem;
}

.u-padding-bottom-small {
  padding-bottom: 2rem;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-6 {
  margin-bottom: 6rem;
}

.u-margin-bottom-4 {
  margin-bottom: 4rem;
}

.u-margin-bottom-2 {
  margin-bottom: 2rem;
}

.u-column-width-40 {
  width: 40rem;
}

.u-column-width-50 {
  width: 50rem;
}

.u-column-width-60 {
  width: 60rem;
}

.u-border-dark {
  border: 1px solid #212121;
}

.u-border-light {
  border: 1px solid #ccc;
}

.u-paragraph-spacing {
  padding-right: 4rem;
  padding-bottom: 4rem;
}

.u-padding-right-4 {
  padding-right: 4rem;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.ptb-20 {
  padding: 20px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pt-50 {
  padding-top: 50px;
}
.ptb-50 {
  padding: 50px;
}
