$color-blue-primary: #587196;
$color-blue-light: #a1cccc;
$color-grey-dark: #212121;
$color-grey-medium: #999;
$color-grey-light: #ccc;

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;

$color-secondary-rgba-60: rgba(238, 238, 238, 0.6);

// Color Code
$colorF: #fff;
$colorE: #eee;
$colorC: #ccc;
$colorD: #ddd;
$colorA: #aaa;
$color9: #999;
$color7: #777;
$color5: #555;
$color3: #333;

$color-primary: $color-blue-primary;
$color-secondary: $color-blue-light;
$color-success: green;
$color-warning: orange;
$color-danger: red;
$color-info: aqua;
$color-dark: black;
$color-light: #ccc;
$color-blue: blue;
$color-orange: orange;
$color-purple: purple;
$color-red: red;
$color-default: $color-grey-dark;

//Font-Faimily
$font: 'Poppins', sans-serif;
$fontHeading: 'Dosis', 'Poppins', sans-serif;
