@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Dosis:500,700');
@import url('https://fonts.google.com/specimen/Barlow');
//@import '~assets/icons/font-awesome/css/fontawesome-all.min.css';
//@import '~test.css';
// @import '../icons/simple-line-icons/css/simple-line-icons.min.css';
//@import '~themify/css/themify-icons.css';

@import '_mixins';
@import '_media';
@import '_variables';
@import '_utilities';
@import '_buttons';
@import '_form';
@import '_footer';
@import '_header';
@import '_animations';
@import '_nav';
@import '_typography';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  background-image: url('~assets/imgs/background-dust.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: '#555';
}

ul,
li,
button,
textarea,
form {
  margin: 0;
  padding: 0;
}

.display-flex,
.display-flex-align-top,
.service-container,
.footer-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display-flex-align-top {
  align-items: flex-start;
}

.display-flex {
  align-items: center;
}

:root {
  --primary-blue: #536f98;
  --reverse-font-color: #ccc;
  --dark-color: #212121;
  --heading-font: 'Dosis', sans-serif;
  --body-font: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.service-body {
  width: 200px;
  color: '#555';
}

.service-container {
  align-items: flex-start;
  align-self: flex-start;
}

.service-heading-padding {
  padding: 0px 0 10px 0;
}

.service-icon-container {
  align-self: flex-start;
  color: $color-grey-medium;
  width: 80px;
  padding-top: 40px;
}

.service-text-container {
  margin-top: 2rem;
  align-self: flex-start;
}
.object-fit_fill {
  object-fit: fill;
}

img[class] {
  width: 100%;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.port {
  width: 30%;
  margin: 0px 10px 30px 10px;
}

.contact-column {
  width: 50rem;
  padding-bottom: 2rem;
}

.contact-column iframe {
  position: relative;
  top: -50px;
  border: none;
  width: 70rem;
}

.map-container {
  display: inline-block;
  overflow: hidden;
}

//********************** template styles *************************
.layer-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content-wrapper {
  background-color: #fff;
  border: 1px solid $color-grey-light;
  position: relative;
}

.card {
  border: 1px solid #f0f0f0;
  padding: 15px;
  border-radius: 15px;
  align-self: flex-start;
  background-color: #fff;
  margin: 0 2.5rem 5.5rem 2.5rem;
  box-shadow: 0 0.3rem 0.3rem #ccc;
  height: 20rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.tbl-row {
  display: table-row;
}

.tbl-cell {
  display: table-cell;
  vertical-align: middle;
}

.service-card {
  position: relative;
  padding: 30px 20px 30px 20px;
  text-align: center;
  border-color: #ddd;
}

.service-icon i {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 42px;
  color: $color-blue-light;
  background-color: #f9f9f9;
  border-radius: 50%;
}

.service-heading {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0 10px 0;
  color: #555;
  font-family: 'Dosis', 'Poppins', sans-serif;
}

.service-body p {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 0;
}

.service-card-2 {
  position: relative;
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
}
.service-card-2 .tbl-cell {
  vertical-align: top;
}
.service-card-2 .tbl-cell:nth-last-child(1) {
  text-align: left;
  padding: 0 0 0 20px;
}
.service-card-2 .service-heading {
  padding: 0 0 10px 0;
}

/*************************************************
[ LIST CSS START ] *******************************
**************************************************/
.list {
  padding-bottom: 35px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.list:nth-last-child(1) {
  padding-bottom: 0;
  border-bottom: 0;
}

.list-img img {
  width: 100%;
}
.list-img img:hover {
  opacity: 8;
}

.list-content .title {
  font-size: 24px;
  margin: 0 0 5px 0;
  font-weight: 600;
}
.list-content .title a {
  color: #555;
}
.list-content .date {
  font-size: #aaa;
}
.list-content .description {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #999;
}

/*************************************************
[ BADGE CSS START ] *******************************
**************************************************/

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}
.badge-primary[href]:hover,
.badge-primary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0062cc;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #545b62;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-success[href]:hover,
.badge-success[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #1e7e34;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
.badge-info[href]:hover,
.badge-info[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #117a8b;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-warning[href]:hover,
.badge-warning[href]:focus {
  color: #212529;
  text-decoration: none;
  background-color: #d39e00;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge-danger[href]:hover,
.badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #bd2130;
}

.badge-light {
  color: $color-grey-medium;
  background-color: #f8f9fa;
}
.badge-light[href]:hover,
.badge-light[href]:focus {
  color: #212529;
  text-decoration: none;
  background-color: #dae0e5;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}
.badge-dark[href]:hover,
.badge-dark[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #1d2124;
}

/*************************************************
[ BLOG CSS START ] *******************************
**************************************************/
.title-blog a {
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0 10px 0;
  color: #555;
  font-family: 'Dosis', 'Poppins', sans-serif;
}

.row-list {
  display: flex;
}

.blog-card {
  margin-bottom: 30px;
}
.blog-card img {
  width: 100%;
}
.blog-card > div {
  padding: 0 5px;
}
.blog-card > div > span {
  font-size: 12px;
  color: #aaa;
}
.blog-card h4 {
  font-size: 24px;
  margin: 15px 0 5px 0;
  font-weight: 500;
}
.blog-card h4 a {
  color: #777;
}
.blog-card p {
  color: #777;
}
.blog-card a {
  color: #009686;
}
.blog-card a:hover {
  color: #005d53;
}
.blog-card a i,
.blog-card a span {
  display: inline-block;
  vertical-align: middle;
}
.blog-card a span {
  color: #009686;
}

.blog-meta {
  padding: 0 0 5px 0;
}
.blog-meta p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
}
.blog-meta p span,
.blog-meta p i {
  display: table-cell;
  vertical-align: middle;
}
.blog-meta p span {
  font-size: 14px;
  color: #aaa;
  padding: 0 0 0 5px;
}
.blog-meta p i {
  font-size: 14px;
  color: #aaa;
}

.blog-recent {
  margin-bottom: 15px;
}
.blog-recent:nth-last-child(1) {
  margin-bottom: 0;
}
.blog-recent:hover h4 {
  color: #009686;
}

.blog-recent-post h4 {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 0;
}
.blog-recent-post p {
  font-size: 14px;
  color: #999;
}

.blogp-title {
  font-size: 30px;
  color: #555;
  margin: 20px 0;
}

.blogp-post {
  padding: 10px 0 0 0;
  font-size: 16px;
  color: #777;
}

.blogp-footer {
  background-color: #eee;
  border-top: 1px solid #ddd;
  margin: 30px 0 0 0;
  padding: 10px;
}
.blogp-footer ul {
  margin: 0;
  padding: 0;
}
.blogp-footer li {
  display: inline-block;
  list-style: none;
  margin: 5px;
}
.blogp-footer li a {
  display: block;
}

.blogp-author {
  margin: 30px 0 0 0;
}

.blog-author-details h4 a {
  font-family: 'Dosis', 'Poppins', sans-serif;
  font-size: 20px;
  color: #555;
}
.blog-author-details a {
  font-size: 14px;
  color: #777;
}
.blog-author-details p {
  padding: 10px 0 0 0;
  font-size: 14px;
  color: #333;
}

/*************************************************
[ CATEGORY CSS START ] *******************************
**************************************************/

.category-list {
  padding: 0;
}
.category-list li {
  text-align: left;
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.category-list li a {
  color: #333;
  font-size: 14px;
}
.category-list li a i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 10px 0 0;
}
.category-list li a:hover {
  color: #009686;
}
.category-list li span {
  position: relative;
  top: 2px;
  float: right;
  font-size: 14px;
  color: #015259;
}
.loader {
  height: 90vh;
}

/*************************************************
[ BUTTON CSS START ] *******************************
**************************************************/

// .btn {
//   height: auto;
//   line-height: normal;
//   padding: 10px 20px;
//   font-weight: 400;
//   color: #fff;
//   font-size: 14px;
//   font-family: 'Poppins', sans-serif;
//   border-radius: 2px;
//   cursor: pointer;
// }
// .btn-outline.btn-default,
// .btn-outline.btn-info {
//   color: #555;
//   background-color: #fff;
// }
// .btn-outline.btn-default:hover,
// .btn-outline.btn-info:hover {
//   color: #333;
//   background-color: $color-grey-light;
// }
// .btn-pill {
//   border-radius: 10px;
//   border: 1px solid $color-grey-light;
// }

/*************************************************
[ FLEX CSS START ] *******************************
**************************************************/

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.container-flex__center {
  justify-content: center;
}

/*************************************************
[ FORM FIELDS CSS START ] *******************************
**************************************************/

.mdl-textfield {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 40rem;
  max-width: 100%;
  margin: 0;
  padding: 2rem 0;
  @include respond('tab-land') {
    width: 35rem;
  }
  @include respond('tab-port') {
    width: 45rem;
  }
  @include respond('phone') {
    width: 25rem;
  }
}
.mdl-textfield__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
}
.mdl-textfield__label {
  bottom: 0;
  color: $color-grey-dark;
  font-size: 16px;
  transition: font-size 0.3s;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 22px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
.mdl-textfield__alt-label {
  bottom: 0;
  color: $color-grey-dark;
  font-size: 12px;
  transition: font-size 0.3s;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

/*************************************************
[ TRANSITIONS CSS START ] *******************************
**************************************************/
.page-enter-active,
.page-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: linear;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: scale(0);
}
