.card {
  // persective makes the rotate seem like it coming towards the user
  perspective: 150rem;
  -moz-perspective: 150rem;

  position: relative;
  height: 53rem;

  &__side {
    height: 53rem;
    transition: all 0.8s ease;
    // color: #000;
    // font-size: 2rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // this sets the back of the card to be hiddent
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

    &--front {
      background-color: white;
    }
    &--back {
      background-color: #fff;
    }

    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    // rotate the sub class __side
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    // the back is already rotated so set rotate to 0;
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &--1 {
      background-image: url(~/components/imgs/tours/nat-1.jpg),
        linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
    }

    &--2 {
      background-image: url(~/img/nat-6.jpg),
        linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
    }
    &--3 {
      background-image: url(img/nat-7.jpg),
        linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
    }
  }
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    color: white;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem, 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 85),
        rgba($color-secondary-dark, 85)
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        border: 1rem;
        border-bottom: #000;

        &:not(:last-child) {
          border-bottom: #000;
        }
      }
    }
  }
}
